.komplett-image {
    display: flex;
    justify-content: center;
    padding-top: 1rem;


}

.komplett-image img {
    display: flex;
    width: 200px;
    height: auto;
    margin-bottom: 0.1rem;
}

.komplett-rea img {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.komplett-image-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.komplett-image-links img {
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-right: 1rem;
    padding-bottom: 1rem;
}